@charset "UTF-8";
/* CSS Document */
body {
  background: url("images/stripes.png") repeat-x, url("images/background.jpg") no-repeat;
  background-size: auto, cover;
  background-color: #51586c;
  font-family: "Myriad Pro", Arial, sans-serif; 
 
}
section {
  margin:300px 0 0 200px;
}
}
hr {
  margin:0;
  width: 50px;
  border-color: #915462;
}

p {
  font-size: 20px;
  font-weight: inherit;
  color: white;
  
}
  


